{% extends "layouts/base.njk" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h2 class="text-2xl font-bold mb-4">Welcome to my Vite Nunjucks site!</h2>
    <p>This is the home page content.</p>
{% endblock %}